{% set subtitle = "Photography" %}
{% extends "layout.html" %}
{% import "partials/helpers.html" as helpers %}

{% block content %}
<section class="section">
    <div class="container content">
        <h1 class="title has-text-centered is-2">Photography</h1>
        <h2 class="title has-text-centered is-3">People</h2>
        <div class="columns is-multiline">
            {% for c in data.people %}
                {{ helpers.card(c.name, c.img, c.url) }}
            {% endfor %}
        </div>
        <h2 class="title has-text-centered is-3">Events</h2>
        <div class="columns is-multiline">
            {% for c in data.events %}
                {{ helpers.card(c.name, c.img, c.url) }}
            {% endfor %}
        </div>
        <h2 class="title has-text-centered is-3">Places</h2>
        <div class="columns is-multiline">
            {% for col in data.places %}
                {{ helpers.location_column(col.locations) }}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}