<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img/brandBanner.png" alt="Deadlypenguin" width="222" height="52">
          </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
    </div>
    <div class="navbar-menu">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/photography/">Photography</a>
        <a class="navbar-item" href="https://connelly.dev">Development</a>
        <a class="navbar-item" href="/design/">Design</a>
        <a class="navbar-item" href="https://blog.deadlypenguin.com">Blog</a>
    </div>
</nav>