<footer class="footer columns">
    <div class="column">
        Developed and designed by <a href="https://connelly.dev">Patrick Connelly</a> using <a
            href="https://bulma.io/">Bulma</a> and <a href="https://github.com/Deadlypenguin/site">Github</a>
    </div>
    <div class="column is-one-quarter has-text-right has-text-primary is-hidden-mobile">
        <span class="icon">
            <a href="https://twitter.com/aelst">
                <svg class="feather">
                    <use xlink:href="/img/feather-sprite.svg#twitter" />
                </svg>
            </a>
        </span>
        <span class="icon">
            <a href="https://github.com/pcon">
                <svg class="feather">
                    <use xlink:href="/img/feather-sprite.svg#github" />
                </svg>
            </a>
        </span>
        <span class="icon">
            <a href="https://flickr.com/photos/grepsy">
                <svg class="feather">
                    <use xlink:href="/img/feather-sprite.svg#aperture" />
                </svg>
            </a>
        </span>
        <span class="icon">
            <a href="https://www.linkedin.com/pub/patrick-connelly/28/6b3/b56/">
                <svg class="feather">
                    <use xlink:href="/img/feather-sprite.svg#linkedin" />
                </svg>
            </a>
        </span>
    </div>
</footer>