{% extends "layout.html" %}
{% import "partials/helpers.html" as helpers %}

{% block content %}
<section class="section">
    <div class="container content">
        <h1 class="title has-text-centered is-2">Design</h1>
        <h2 class="title has-text-centered is-3">Logos</h2>
        <div class="columns is-multiline">
            {% for c in data.logos %}
                {{ helpers.card(c.name, c.img, c.url, "is-one-third-desktop")}}
            {% endfor %}
        </div>
        <h2 class="title has-text-centered is-3">Websites</h2>
        <div class="columns is-multiline">
            {% for c in data.sites %}
                {{ helpers.card(c.name, c.img, c.url, "is-half-desktop")}}
            {% endfor %}
        </div>
        <div class="is-size-7 has-text-right">
            <a class="has-text-grey-light" href="https://www.freepik.com/free-photos-vectors/mockup">Mockup vector created by rawpixel.com - www.freepik.com</a>
        </div>
        <h2 class="title has-text-centered is-3">Designs</h2>
        <div class="columns is-multiline">
            {% for c in data.designs %}
                {{ helpers.card(c.name, c.img, c.url, "is-half-desktop")}}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}